:root {
	--footer-background: rgb(255, 255, 255);
	--square-edges: rgb(188, 188, 188);
	--square-background: rgb(240, 239, 239);
	--tie-color: rgb(233, 193, 19);
	--win-color: green;
	--scoreboard-background: rgb(228, 244, 196);
	--resetBtn-background: rgb(239, 200, 200);
	--resetBtn-active-background: rgb(224, 146, 146);
	--game-option-background: rgb(14, 14, 14);
	--h1-color: rgb(8, 150, 171);
	--h1-color-glow: rgba(52, 118, 233, 0.293);
	--h1-font: "Fredericka the Great", cursive;
	--display-font: "Special Elite", cursive;
	--square-font: "Fredericka the Great", cursive;
	--game-option-font: "Allerta Stencil", sans-serif;
	--score-board-font: 'Righteous', cursive;
}
* {
	box-sizing: border-box;
	margin: 0;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ************** */
/* INTRO: FLOATING SIGNS */
.floats {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.7;
}
.floats li {
	user-select: none;
	position: absolute;
	list-style: none;
	animation: float 15s linear infinite;
	bottom: -130px;
	font-size: 5rem;
	font-family: var(--h1-font);
}
.floats li:first-child {
	left: 10vw;
}
.floats li:nth-child(2) {
	left: 50vw;
	animation-delay: 5s;
	color: var(--tie-color);
}
.floats li:nth-child(3) {
	left: 30vw;
	bottom: -170px;
	animation-delay: 10s;
	font-size: 10rem;
}
.floats li:nth-child(4) {
	left: 60vw;
	animation-delay: 15s;
	color: var(--win-color);
}
.floats li:nth-child(5) {
	left: 20vw;
	animation-delay: 17s;
	font-size: 3rem;
	color: var(--tie-color);
}
.floats li:nth-child(6) {
	left: 80vw;
	animation-delay: 6s;
}
.floats li:nth-child(7) {
	left: 85vw;
	animation-delay: 12s;
	font-size: 3.5rem;
}
.floats li:nth-child(8) {
	left: 5vw;
	animation-delay: 8s;
	font-size: 2.5rem;
	color: var(--win-color);
}
.floats li:nth-child(9) {
	left: 35vw;
	font-size: 4rem;
	animation-delay: 3s;
}
.floats li:nth-child(10) {
	left: 90vw;
	animation-delay: 2s;
	font-size: 8rem;
}
.floats li:nth-child(11) {
	left: 75vw;
	animation-delay: 7s;
	font-size: 5rem;
	color: var(--win-color);
}

/* ************** */
/* GAME OPTION */
.game-option {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--game-option-background);
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	color: white;
	z-index: 1;
	gap: 25px;
	transition: height 0.5s ease-in-out;
	overflow: hidden;
}
.game-option.hidden {
	height: 0;
}
.game-option h1 {
	color: var(--h1-color);
	position: absolute;
	font-size: clamp(1.5rem, 1vw, 2.2rem);
	font-family: var(--h1-font);
	top: 20px;
	animation: flicker 2s linear;
	animation-iteration-count: 2;
	text-shadow: 0 0 5px transparent, 0 0 10px transparent, 0 0 20px var(--h1-color-glow), 0 0 30px var(--h1-color-glow), 0 0 40px var(--h1-color-glow), 0 0 50px var(--h1-color-glow);
}
.game-option .option {
	cursor: pointer;
	font-family: var(--game-option-font);
	font-size: 1rem;
	border: 3px solid white;
	padding: 10px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}
.game-option .option:hover {
	border: 3px solid rgb(16, 173, 204);
	background-color: rgb(245, 245, 245);
	color: black;
}
.game-option .option::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
	z-index: -1;
	pointer-events: none; /* ignore any pointer events, including hover */
}
.game-option .pvp-container .option:hover::before {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(18, 60, 107, 0.665));
}
.game-option .pvb-container .option:hover::before {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(20, 154, 161, 0.627));
}
.backgroundColor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
}
.option.hideBtns {
	animation: removeBtns 0.9s ease-in-out forwards;
}
.pvp-container,
.pvb-container {
	transition: all 0.9s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
.hideContainer {
	display: none;
}
.game-option img {
	object-fit: cover;
	height: 200px;
	width: 160px;
	border-radius: 10px;
}
.inputs-container {
	visibility: hidden;
	height: 0;
	transform: scale(0);
	transition: all 0.5s ease-in-out;
	margin-bottom: -15px;
}
.inputs-container form {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
.inputs-container.active {
	margin-top: -35px;
	visibility: visible;
	height: 100%;
	transform: scale(1);
}
.inputs-container h2 {
	font-size: clamp(1.2rem, 2vw, 3rem);
	font-family: var(--display-font);
	color: rgb(236, 236, 236);
}
.inputs-container input {
	padding: 10px;
	border: 2px solid rgb(36, 136, 212);
	border-radius: 5px;
}
.inputs-container input:focus {
	outline: none;
}
.inputs-container select {
	padding: 5px;
	border-radius: 5px;
}
.inputs-container select:focus {
	outline: none;
}
.inputs-container button {
	cursor: pointer;
	color: rgb(243, 243, 243);
	border: 2px solid white;
	background-color: rgb(53, 147, 206);
	padding: 10px;
	width: 150px;
	border-radius: 10px;
	font-family: var(--display-font);
	font-size: 1.2rem;
	transition: all 0.3s ease-in-out;
}
.inputs-container button:hover {
	color: rgb(243, 243, 243);
	border: 2px solid rgb(76, 106, 148);
	background-color: rgb(17, 80, 119);
}

/* ************** */
/* HEADER */
.header {
	padding: 20px 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header h1 {
	font-size: 3rem;
	font-family: var(--h1-font);
}
.reset-btn {
	border: none;
	position: absolute;
	bottom: 60px;
	right: 30px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-image: url(assets/refresh.svg);
	background-size: 90%;
	background-color: var(--resetBtn-background);
	background-position: center;
	transition: transform 0.3s ease-in-out;
}
.reset-btn:hover {
	transform: scale(1.3);
}
.reset-btn:active {
	background-color: var(--resetBtn-active-background);
	transform: translateY(5px);
}

/* ************** */
/* DISPLAY & SCOREBOARD*/
.result-display {
	text-align: center;
	font-family: var(--display-font);
	margin: 20px 0;
	font-size: 2rem;
}
.result-display.win {
	font-size: 1.5rem;
	color: var(--win-color);
}
.result-display.tie {
	font-size: 1.5rem;
	color: var(--tie-color);
}
.scoreboard {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.scoreboard .score {
	color: rgb(8, 150, 171);
	font-size: 1.5rem;
}
.scoreboard-x,
.scoreboard-o {
	font-family: var(--score-board-font);
	border-radius: 10px;
	background-color: var(--scoreboard-background);
	padding: 10px;
	min-width: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* ************** */
/* GAMEBOARD */
.game-board {
	height: calc(6rem + 55vw);
	width: calc(6rem + 55vw);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
}
.square {
	cursor: pointer;
	font-size: 3rem;
	font-family: var(--square-font);
	border: 1px solid var(--square-edges);
	border-radius: 15px;
	background-color: var(--square-background);
	box-shadow: inset 1px 1px var(--square-edges);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease-in;
}
.square.squareHoverX::after {
	content: "X";
	opacity: 0.5;
}
.square.squareHoverO::after {
	content: "O";
	opacity: 0.5;
}
.square.active {
	animation: addingPlayerSign 0.3s forwards;
}
.square.win {
	color: var(--win-color);
	background-color: rgba(46, 114, 56, 0.08);
	animation: highlightWin 0.5s forwards;
}
.square.tie {
	color: var(--tie-color);
	background-color: rgba(233, 194, 19, 0.122);
	animation: rotateSquare 0.5s forwards;
}

/*****************/
/***** FOOTER *****/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	background-color: var(--footer-background);
	color: black;
	font-size: 15px;
	padding: 0.6em;
}
footer a {
	display: flex;
	align-items: center;
}
footer img {
	border-radius: 50%;
	width: 30px;
	transition: transform 0.5s ease-in-out;
}
footer img:hover {
	transform: rotate(360deg);
}

/* ******************************************* */
/* KEY FRAMES */
@keyframes addingPlayerSign {
	0% {
		font-size: 0;
	}
	50% {
		font-size: 4rem;
	}
	100% {
		font-size: 3.2rem;
	}
}

@keyframes highlightWin {
	from {
		font-size: 3rem;
	}
	to {
		font-size: 5rem;
	}
}

@keyframes rotateSquare {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes flicker {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes float {
	from {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	to {
		transform: translateY(-1000px) rotate(360deg);
		opacity: 0;
	}
}

@keyframes addScore {
	0% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1.1);
	}
}

@keyframes removeBtns {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(0);
		display: none;
	}
}

/* ******************************************* */
/* MEDIA QUERIES */
@media screen and (min-width: 510px) {
	.reset-btn {
		top: 30px;
	}
	.game-option {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.game-option h1 {
		font-size: 3.5rem;
		top: 40px;
	}
	.pvp-container img {
		object-fit: cover;
		height: 300px;
		width: 240px;
		border-radius: 10px;
		margin-top: 30px;
	}
	.pvb-container img {
		object-fit: cover;
		height: 300px;
		width: 240px;
		border-radius: 10px;
		margin-top: 30px;
	}
	.hideContainer {
		display: none;
	}
	.inputs-container.active {
		margin-top: -65px;
	}
}
@media screen and (min-width: 566px) {
	.game-board {
		height: calc(5rem + 50vw);
		width: calc(5rem + 50vw);
	}
	.result-display {
		margin: 15px 0;
	}
}
@media screen and (min-width: 750px) {
	.game-board {
		width: 450px;
		height: 450px;
	}
	.game-option .option {
		font-size: 2rem;
	}
}
