* {
   box-sizing: border-box;
   margin: 0;
}
body {
   min-height: 100vh;
}

main {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* ************** */
/* GAME OPTION */
.game-option {
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.775);
   position: absolute;
   top: 0;
   width: 100vw;
   height: 100vh;
   color: white;
   z-index: 1;
   gap: 30px;
}
.game-option.hidden{
   display: none;
}

/* ************** */
/* GAMEBOARD */
.game-board {
   height: 300px;
   width: 300px;
   background: aliceblue;
   border: 1px solid black;
   display: grid;
   grid-template-columns: repeat(3, minmax(100px, 1fr));
   grid-template-rows: repeat(3, 1fr);
}
.square {
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ************** */
/* DISPLAY */
.winner-display {
   opacity: 0;
}
.winner-display.active {
   opacity : 1;
   display: show;
}
